@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
.info {
  display: flex;
  flex-direction: column;
  align-items: center
}

.fung {

}

.fung-noaa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.plus {
  font-size: 150px;
  font-weight: bold;
}

.heading{
  text-shadow: 1px 1px 10px black;
}

.heading-text {
  width: 40vw;
  margin-bottom: 50px;
  font-size: 25px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 10px black;
}

#view-map{
  box-shadow: 1px 1px 10px #888;
  background-color: white;
  color: #229FAD;
}
#view-map:hover{
  background-color: #212428;
  color: #229FAD;
}