.menu{
  position: absolute;
  top: 90px;
  right: 5px;
  z-index: 405;
  background-color: #212428;
  color: white;
  width: 200px;
  padding: 10px;

  max-height: 60vh;
  overflow-y: scroll;
}

.menu-item{
  padding: 5px;
}
.menu-title{
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu-item-header{
  font-family: 'Alata', sans-serif;
  display: flex;
  align-items: center;
}

.menu-item-clickable {
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 3px 0px;
  border-bottom: solid #666 1px;
}

.menu-icon{
  font-size: 30px;
  line-height: 10px;
}

.menu-item-input {
  padding: 7px 0px;
}
.menu-item-title {
  font-family: 'Alata', sans-serif;
  display: flex;
  align-items: center;
  font-size: 12px;
}