@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
  margin: 0px;
}
.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:lightblue;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* .leaflet-control-layers-list{
  height: 200px;
}
.leaflet-control-layers-base label{
	height:60px;
	width: 60px;
	border-radius: 30px;
}
.leaflet-control-layers-base label span{
	display: none;
} */
.leaflet-control-layers-base label:hover,
.leaflet-control-layers-base label:checked,
.leaflet-control-layers-base label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-overlays label:hover,
.leaflet-control-layers-overlays label:checked,
.leaflet-control-layers-overlays label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-selector {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
}
/* input[type="radio"] {
	position: absolute;
	opacity: 0;
} */

#time-slider{
  z-index: 400;
  position: fixed;
  bottom: 25px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: auto;
}
.button{
  cursor: pointer;
}
.button:hover,
.button:focus{
  background-color: rgb(1, 199, 199);
}

.menu{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 400;
  background-color: #212428;
  color: white;
  width: 200px;
  padding: 10px;
}
.icon{
  font-size: 30px;
  line-height: 10px;
}
.menu-item{
  padding: 5px;
}
.menu-title{
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu-item-header{
  font-family: 'Alata', sans-serif;
  display: flex;
  align-items: center;
}
.layer{
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 3px 0px;
}

.layer-input{
  padding: 7px 0px;
}
.layer-header{
  font-family: 'Alata', sans-serif;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.mr-auto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#navbar-buttons{
  display: flex;
  justify-content: space-between;
}

#navbar{
  background-color: #212428;
}

.nav-link{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Alata', sans-serif;
  margin: 8px;
}
.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,.6);
}

.homepage, .about {
  display: flex;
  flex-direction: column;
  height: 92.33vh;
  align-items: center;
  justify-content: center;
}

.homepage {
  background-image: url('images/homepage3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.about {
  background-image: url('images/about.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.heading {
  font-family: 'Alata', sans-serif;
  font-size: 75px;
  margin-bottom: 25px;
  text-align: center;
}

.heading-text {
  font-family: 'Trebuchet', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 1.5% 20%;
}

.legend-container {
  margin-left: 10px;
  font-family: 'Alata', sans-serif;
  font-size: 13px;
}

.nums {
  visibility: hidden;
  position: relative;
}

.nums:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "--";
  font-size: 18px;
  margin-left: -30px;
  color: #212428
}

.legend {
  box-shadow: 0 0 2px 1px #212428;
  border-radius: 7px;
}

.photo-credit {
  margin-top: -30px;
  margin-left: 7px;
  color: rgba(255, 255, 255, 0.75);
}

.detection-icon {
  border-radius: 6px;
}
