@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
  margin: 0px;
}

.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:lightblue;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.leaflet-control-layers-base label:hover,
.leaflet-control-layers-base label:checked,
.leaflet-control-layers-base label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-overlays label:hover,
.leaflet-control-layers-overlays label:checked,
.leaflet-control-layers-overlays label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-selector {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
}
/* input[type="radio"] {
	position: absolute;
	opacity: 0;
} */

#time-slider{
  z-index: 400;
  position: fixed;
  bottom: 25px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: auto;
}
.button{
  cursor: pointer;
}
.button:hover,
.button:focus{
  background-color: rgb(1, 199, 199);
}

.mr-auto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.is_active{
  background-color: whitesmoke;
  color:rgb(1, 199, 199);
}
#navbar-buttons{
  display: flex;
  justify-content: space-between;
}

.navbar-dark{
  background-color: #212428;
}

.navbar .navbar-nav .nav-link {
  color:rgba(255,255,255,1);
  text-shadow: 1px 1px 5px black;
}

.nav-link{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Alata', sans-serif;
  margin: 8px;
}

.navbar-dark .navbar-nav .nav-link .dark{
  color: rgba(255,255,255,.6);
}

.navbar-transparent {
  background-color: rgba(255,255,255,0);
  position: absolute;
  z-index: 200;
  width: 100%;
}
/* #nav-transparent{
  color: rgba(255,255,255,1);
} */

.legend-container {
  margin-left: 10px;
  font-family: 'Alata', sans-serif;
  font-size: 13px;
}

.nums {
  visibility: hidden;
  position: relative;
}

.nums:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "--";
  font-size: 18px;
  margin-left: -30px;
  color: #212428;
}

.legend {
  box-shadow: 0 0 2px 1px #212428;
  border-radius: 7px;
}

.detection-icon {
  border-radius: 6px;
}

/* Overrides Leaflet fixed width popups */
.leaflet-popup-content {
  width:auto !important;
}
