@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
  margin: 0px;
}
.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:lightblue;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* .leaflet-control-layers-list{
  height: 200px;
}
.leaflet-control-layers-base label{
	height:60px;
	width: 60px;
	border-radius: 30px;
}
.leaflet-control-layers-base label span{
	display: none;
} */
.leaflet-control-layers-base label:hover,
.leaflet-control-layers-base label:checked,
.leaflet-control-layers-base label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-overlays label:hover,
.leaflet-control-layers-overlays label:checked,
.leaflet-control-layers-overlays label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-selector {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
}
/* input[type="radio"] {
	position: absolute;
	opacity: 0;
} */

#time-slider{
  z-index: 400;
  position: fixed;
}
.button{
  cursor: pointer;
}
.button:hover,
.button:focus{
  background-color: rgb(1, 199, 199);
}

.menu{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 400;
  background-color: #212428;
  color: white;
  width: 200px;
  padding: 10px;
}
.icon{
  font-size: 30px;
  line-height: 10px;
}
.menu-item{
  padding: 5px;
}
.menu-title{
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu-item-header{
  font-family: 'Alata', sans-serif;
  line-height: 0px;
}
.layer{
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.layer-input{
  padding: 7px 0px;
}
.layer-header{
  font-family: 'Alata', sans-serif;
  line-height: 0px;
  font-size: 12px;
}