/*
  Leaflet Overrides
*/

.leaflet-control-layers-base label:hover,
.leaflet-control-layers-base label:checked,
.leaflet-control-layers-base label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-overlays label:hover,
.leaflet-control-layers-overlays label:checked,
.leaflet-control-layers-overlays label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-selector {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
}

/* Overrides Leaflet fixed width popups */
.leaflet-popup-content {
  width:auto !important;
}

.leaflet-top {
  top: 80px;
}

.leaflet-control-scale {
	position: absolute;
  left: 70px;
	top: -130px;
}

/* Scale */

.leaflet-control-scale-line {
	font-family: 'Alata', sans-serif;
	font-color: rgb(33, 36, 40, 1);
	background: rgb(0, 0, 0, 0);
	padding: 3px 5px 3px;
}

.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid rgb(33, 36, 40, 1);
}

.leaflet-control-scale-line {
	border-bottom: 2px solid rgb(33, 36, 40, 1);
	border-left: 2px solid rgb(33, 36, 40, 1);
	border-right: 2px solid rgb(33, 36, 40, 1);
}

/* Zoom in/out */

.leaflet-bar a.leaflet-disabled {
	background-color: rgb(33, 36, 40, 1);
	color: white;
}

.leaflet-bar a, .leaflet-bar a:hover {
	background-color: rgb(33, 36, 40, 1);
	color: white;
}

.leaflet-bar a:hover {
	background-color: rgb(33, 36, 40, 1);
	color: white;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border-left: none; /* 2px solid white; */
	border-right: none; /* 2px solid white; */
	border-bottom: none; /* 2px solid white; */
	border-top: none; /* 1px solid white; */
}

.leaflet-bar a, .leaflet-bar a:hover {
	border-bottom: 1px solid white;
}

.north-arrow {
  position: absolute;
  left: 50px;
  top: 105px;
}
