/*
  Leaflet Overrides
*/

.leaflet-control-layers-base label:hover,
.leaflet-control-layers-base label:checked,
.leaflet-control-layers-base label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-overlays label:hover,
.leaflet-control-layers-overlays label:checked,
.leaflet-control-layers-overlays label:focus{
	background-color: rgb(1, 199, 199);
  cursor: pointer;
}

.leaflet-control-layers-selector {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
}

/* Overrides Leaflet fixed width popups */
.leaflet-popup-content {
  width:auto !important;
}

.leaflet-top {
  top: 80px;
}