.select{
  font-size: inherit; /* inherit size from .custom-dropdown */
  padding: .5em; /* add some space*/
  margin: 0; /* remove default margins */
  background-color: #fff;
  color: #212428;
  outline: none;
}

@supports (pointer-events: none) and (appearance: none) {

  .container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .select {
    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 3px;
    appearance: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
  }

  .container::before,
  .container::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .container::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%; margin-top: -.5em;
    z-index: 0;
    color: rgba(0,0,0,.9);
  }

  .container::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0; top: 0; bottom: 0;
    border-radius: 0 3px 3px 0;
    background-color: #fff;
    border-left: 1px solid rgba(0,0,0,.3);
  }

  .select[disabled] {
    color: rgba(0,0,0,.1);
  }
}